body {
    font-family: "Roboto", sans-serif;
    background-color: burlywood;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header {
    padding: 15px 120px 80px;
}

.logo-img
{
    height: 50px;
    width: auto;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.below {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text-btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sub-text {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    font-size: 20px;
    margin-bottom: 20px;
}

.title {
    font-weight: 800;
    font-size: 30px;
}

.img-container {
    display: flex;
}

img {
    border-radius: 10px;
}

.signup-btn {
    width: 150px;
    color: white;
    background-color: black;
    border: 2px solid white;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 700;
}

.title,
.sub-text,
.signup-btn {
    font-family: "Playwrite NG Modern", cursive;
}





